server:
  port: 9090
  max-http-header-size: 10240
  shutdown: graceful
  undertow:
    threads:
      worker: 256
    buffer-size: 1024
    direct-buffers: true
management:
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: shutdown

# EBean Database Setting
spring:
  application:
    name: ZEUS-IOT
  datasource:
    druid:
      driver-class-name: org.postgresql.Driver
      username: ${ZEUS_DB_USERNAME:postgres}
      password: ${ZEUS_DB_PASSWORD:postgres}
      url: jdbc:postgresql://${ZEUS_DB_HOST:127.0.0.1}:${ZEUS_DB_PORT:5432}/zeus-iot
  servlet:
    multipart:
      max-request-size: 200MB
      max-file-size: 200MB
  jackson:
    generator:
      write_numbers_as_strings: true
  mvc:
    view:
      prefix: /public
  freemarker:
    suffix: .html
    template-loader-path: classpath:/public/

forest:
  log-enabled: true
  timeout: 5000
  max-retry-count: 3     # 最大请求重试次数，默认为 0 次
  max-retry-interval: 10 # 为最大重试时间间隔, 单位为毫秒，默认为 0 毫秒
  variables:
    ## Zabbix API IP And ServerIp and ServerPort
    zbxServerIp: ${ZEUS_ZABBIX_HOST:127.0.0.1}
    zbxServerPort: ${ZEUS_ZABBIX_PORT:80}
    zbxApiUrl: ${ZEUS_ZABBIX_API_URL:/zabbix/api_jsonrpc.php}
    zbxApiToken: bd3eee6676ef363b4627c1d1f9ab83d5edc8ca741e56c7bd5a6cf64c3b4f7615

    ## tdengine http request address
    taosUrl: http://${ZEUS_TAOS_HOST:127.0.0.1}:${ZEUS_TAOS_REST_PORT:6041}/rest/sql/zeus_data
    taosUser: root
    taosPwd: taosdata

socketio:
  server:
    port: 9080
    host: 0.0.0.0